
<div id="songs_app">
	<div class='row'>
		<div class='sixteen columns'>
			<h1 id="logo">Spotify Playlist Generator</h1>
			<div id="flash_space"></div>
		</div>
	</div>
	
	<div class='row'>
		<div class='four columns'>
			<%= render 'form' %>
		</div>
		<div class='twelve columns'>
			<ol id="song_list"></ol>
		</div>
</div>

<script id="song_item" type="text/html">
<div id='{{id}}' class='row'>
	<div class='eight columns'>
		<a href="#" class="button" style='font-size: 32px; line-height: 48px'><span class="icon-go expand">{{track}} - {{artist}}</span></a>
	</div>
	<div class='two columns'>
    <div class="dragicon {{id}}">
      <a class="uriTxt"></a>
    </div>
	</div>
	<div class="two columns"
		<div class="icons">
	    <span class="delete">
	      <img src="images/delete.png"/>
	    </span>
	  </div>
	</div>
	<ol class="{{id}}">
   </ol>
</div>
</script>

<script id="error_item" type="text/html">
  <div class="error">
    <span class="message">{{error}}</span>
    <span class="closeError">
      <img src="images/delete.png"/>
    <span>
  </div>
</script>

<script id="similar_song_item" type="text/html">
<li class="track">
	<div class="trackInfo">
		<div class="track">
			<a href="{{trackUrl}}" target="_blank">{{track}}</a>
		</div>
		<div class="artist">
			<a href="{{artistUrl}}" target="_blank">{{artist}}</a>
		</div>
		<div class="albumReleased">
  	  <a href="{{albumUrl}}" target="_blank">{{track}} ({{released}})</a>
  	</div>
	</div>
</li>
</script>

